<nav class="my-5" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item <%= page.hasPrev ? '' : 'disabled' %>">
      <a class="page-link" href="<%= currentPath %>?page=<%= page.currentPage - 1 %>" tabindex="-1">Previous</a>
    </li>

    <% for(let i = 1; i <= page.totalPages; i++) { %>

    <li class="page-item <%= i === page.currentPage ? 'active' : '' %>">
      <a class="page-link" href="<%= currentPath %>?page=<%= i %>"> <%= i %> </a>
    </li>

    <% } %>

    <li class="page-item <%= page.hasNext ? '' : 'disabled' %>">
      <a class="page-link" href="<%= currentPath %>?page=<%= page.currentPage + 1 %>">Next</a>
    </li>
  </ul>
</nav>