<% layout('./layouts/index.ejs') %>

<div class="row my-4 justify-content-center">
  <div class="col-md-9">
    <% for(const id in articles) { %>
    <div class="card mb-3">
      <div class="card-body">
        <a href="/post/<%= articles[id].id %>">
          <h2 class="text-primary"><%- articles[id].title %></h2></a
        >
        <div class="d-flex flex-row text-secondary small">
          <div class="p-2">
            <span class="fa fa-clock-o"></span> <%- moment(articles[id].update_time * 1000).format('YYYY/MM/DD') %>
          </div>
          <div class="p-2">
            <i class="fa fa-tag" aria-hidden="true"></i>
            <a href="#" class="text-info">
              <% if(categories.hasOwnProperty(articles[id].category)) { %>
                <%- categories[articles[id].category].name %>
              <% } else { %>
                沒有分類
              <% } %>
            </a>
          </div>
        </div>
        <div>
          <%- striptags(articles[id].content).slice(0, 150) %>...
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<nav class="my-5" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item <%= page.hasPrev ? '' : 'disabled' %>">
      <a class="page-link" href="/?page=<%= page.currentPage - 1 %>" tabindex="-1">Previous</a>
    </li>

    <% for(let i = 1; i <= page.totalPages; i++) { %>

    <li class="page-item <%= i === page.currentPage ? 'active' : '' %>">
      <a class="page-link" href="/?page=<%= i %>"> <%= i %> </a>
    </li>

    <% } %>

    <li class="page-item <%= page.hasNext ? '' : 'disabled' %>">
      <a class="page-link" href="/?page=<%= page.currentPage + 1 %>">Next</a>
    </li>
  </ul>
</nav>